@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(29, 29, 29);
}

.header{
    flex-wrap: wrap;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    z-index: 9;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul{
    display: flex;
    justify-content: center;
    margin-right: 100px;
}

nav ul li{
    list-style: none;
    margin: 10px 25px;
}

nav ul li a{
    font-size: 13px;
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    font-size: 14px;
    color: white;
}

.left{
    color: white;
    font-weight: bolder;
    font-size: 18px;
    margin-left: 150px;
}

.right{
    margin-right: 25px;
}

.bg-img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100%;
}

.header .introduction{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
}

.header .introduction .myself{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 150px 200px;
    color: white;
    z-index: 1;
}

#hello{
    font-weight: 200;
    font-size: 20px;
}

#name{
    font-size: 60px;
    color: white;
}

#post{
    font-size: 30px;
    color: white;
}

.container{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.subheading{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 35px;
    padding-bottom: 25px;
    font-weight: 500;
}

.cards{
    justify-items: center;
    height: 300px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 400px;
    background: white;
    color: rgb(10,10,15);
    opacity: 0.8;
    border-radius: 5px;
}

.item:hover{
    transition: 0.4s;
    transform: translate(-3px, -3px);
    background-color: white;
    opacity: 1;
}

.item h3{
    font-size: 30px;
    color: rgb(10,10,15);
}

.item #list ul{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.item #list ul li{
    list-style: none;
    text-decoration: none;
} 

.button{
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(10,10,15);
    border-radius: 5px;
}

.button:hover{
    transition: 0.5s;
    box-shadow: 0 10px 15px rgb(10, 10, 14);
    background-color: white;
    color: rgb(10, 10, 14);
}

.about{
    padding: 50px 50px;
}

.aboutcontent{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    padding: 50px 50px;
}

.info p{
    display: flex;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 300;
    font-style: inherit;
    opacity: 0.8;
}

.aboutimg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutimg img{
    margin-left: 100px;
    height: 400px;
    width: 600px;
    border-radius: 100%;
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    color: white;
    padding-bottom: 50px;
}

.inputs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    border-radius: 10px;
}

.message p{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 40px;
    margin-right: 50px;
}

.input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 550px;
    width: 600px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

input{
    height: 30px;
    width: 450px;
    border: 1px solid rgb(10,10,15);
    border-radius: 5px;
    padding: 3px 3px;
    background-color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    opacity: 0.5;
}

input:hover{
    font-size: 14px;
}

.name{
    margin-top: 30px;
}

#textarea{
    font-family: 'Roboto', sans-serif;
    height: 200px;
    width: 450.5px;
    border: 1px solid rgb(10,10,15);
    border-radius: 10px;
    padding: 3px 3px;
    background-color: white;
    margin-top: 10px;
    opacity: 0.5;
    padding-top: 10px;
}

#textarea:hover{
    font-size: 14px;
}

.btn{
    text-decoration: none;
    height: 35px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(10,10,15);
    background-color: white;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 15px;
    opacity: 0.8;
}

.btn:hover{
    background-color: rgb(152, 234, 241);
}

.footer{
    display: flex;
    flex-direction: column;
    color: rgb(10, 10, 14);
    font-weight: 600;
}

.footerone{
    color: white;
    font-weight: bolder;
    font-size: 30px;
    margin-right: 600px;
}

.footerone p{
    font-weight: 100;
    font-size: medium;
    color: white;
}

.footertwo{
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 100px;
}

.sec{
    display: flex;
    align-items: center;
    justify-content: center;
}

.secnavname{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: white;
    font-size: 15px;
}

.secnav ul{
    list-style: none;
    margin-top: 20px;
    margin-bottom: 40px;
}

.secnav ul li{
    margin-top: 20px;
}

.secnav ul li a{
    text-decoration: none;
    justify-content: left;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 100;
}

.secnav ul li:hover{
    transition: 0.4s;
    transform: translate(4px, 0px);
}

.secnav ul li a:hover{
    color: white;
}

.secsocial{
    margin-left: 200px;
}

.secsocialname{
    flex-direction: column;
    margin-bottom: 30px;
    color: white;
    font-size: 15px;
}

.secsocial ul{
    display: flex;
    flex-direction: column;
}

.secsocial ul a{
    margin-bottom: 20px;
    font-size: 16px;
}

.rights p{
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}